*.[Rr]e[Ss]harper
*.[Rr]e[Ss]harper.user
*.cache
*.chm
*.csproj-[1-9]*
*.csproj.user
*.csproj[1-9]*
*.ldf
*.mdf
*.orig
*.output
*.pdb
*.sublime-workspace
*.suo
*.swo
*.swp
*.user
*~
.vagrant
/*.zip
/bin
/lib
/cc
/cc.txt
/package.json
/web_intermediate
/web_intermediate
/web_logs
/web_staging
LocalDatabase.mdf
UpgradeLog.XML
_UpgradeReport_Files
_[Rr]e[Ss]harper.*
aliases
artifacts
build_output
empty.cs
npm-debug.log
obj
specs.output
start_web_app.bat
x.clear_cached_node_packages
*.disco
*.wsdl
*.xsd
*.datasource
*.svcinfo
/*.stackdump
/all_timestamps
/.vimrc
/node_modules
/packages
/.bundle
