app.config
*.DotSettings
*.config
*.config.xml
Properties
config.xml
dist
bower_components
.sass-cache
package.json
shared_karma_config.js
config.js
dump.rdb
appSettings.config
applicationhost.config
Web.Debug.config
Web.Release.config
connectionstrings.config
system.servi*.config
NLog.config
packages.config
*.csproj
/bin
/obj
edit.csproj.erb
.docs
.features.generated
karma
/node_modules
